<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Thư viện</title>
        <style type="text/css">
            ol {
                list-style-type: none;
            }
            ol > li > ol {
                display: none;
            }
            li:hover ol{
                display: block;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="#">
            <form th:action="@{/search}" method="get">
                <input type="search" placeholder="Tìm truyện" name="ten">
                <button type="submit">Tim</button>
            </form>
        </div>
        <div>
            <ol >
                <li>
                    <a th:href="@{/}">Trang chủ</a>
                </li>
                <li>
                    <p>Thể loại</p>
                    <ol th:each="s:${theloai}">
                        <li>
                            <a th:href="@{/theloai/{id}(id=${s.id})}" th:utext="${s.ten}"></a>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Xếp hạng</p>
                    <ol>
                        <li>
                            <a th:href="@{/sapxep/luot_xem}">Lượt xem</a>
                        </li>
                        <li>
                            <a th:href="@{/sapxep/luot_thich}">Lượt thích</a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div>
            <p>
                <a th:href="@{/}">Trang chu</a>/
                <a th:href="@{/truyen/{id}(id=${truyen.id})}" th:utext="${truyen.ten}"></a>/
                <a th:href="@{/truyen/{id}/chap{c}(id=${truyen.id}, c=${chaphientai.id_chap})}" th:utext="${chaphientai.ten}"></a>
            </p>
            <h2><span th:utext="${truyen.ten}"></span> - <span th:utext="${chaphientai.ten}"></span></h2>
            <form>
            <button type="button">
                <a th:href="@{/truyen/{id}/chap{c}(id=${truyen.id}, c=${chaptruoc.id_chap})}">Chap truoc</a>
            </button>
            <select>
                <option th:each="a:${danhsachchap}">
                    <a th:utext="${a.ten}" th:href="@{/truyen/{id}/chap{c}(id=${a.id_truyen}, c=${a.id_chap})}"></a> 
                </option>
            </select>
            <button type="button">
                <a th:href="@{/truyen/{id}/chap{c}(id=${truyen.id}, c=${chapsau.id_chap})}">Chap sau</a>
            </button>
        </form>
            <img th:src="@{{file}(file=${chaphientai.filePath})}" style="width:60%">
        </div>
    </body>
</html>