{% extends "master.html" %}

{% block title %}
    {{story.0.name}}
{% endblock %}

{% block content %}
{% load static %}
<div class="card border-primary mb-3">
    <div class="card-body">
        <p><a href="/" style="color:black; text-decoration:none;">Trang chu</a>
             / <a href="/story/{{story.0.id}}" style="color:black; text-decoration:none;">{{story.0.name}}</a>
             / <a href="/story/{{story.0.id}}/chapter/{{chapter.0.id}}">{{chapter.0.name}}</a></p>
        <h5>{{story.0.name}} / {{chapter.0.name}}</h5>
        <div class="container row justify-content-md-center">
            <button type="button" class="btn btn-primary" style="width:110px;">
                {% if chaptertruoc.0.id == null %}
                    Chap truoc
                {% else %}
                    <a href="/story/{{story.0.id}}/chapter/{{chaptertruoc.0.id}}" class="btn-primary" style="text-decoration:none;">Chap truoc</a>
                {% endif %}
            </button>
            <select class="form-select mx-2 border-primary" aria-label="Default select example" style="width:110px;" onchange="location = this.value;">
                {% for x in list_chapter %}
                    {% if x.id == chapter.0.id %}
                        <option value="{% url 'chapter' x.story_id x.id %}" selected>{{x.name}}</a></option>
                    {% else %}
                        <option value="{% url 'chapter' x.story_id x.id %}">{{x.name}}</a></option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary" style="width:110px;">
                {% if chaptersau.0.id == null %}
                    Chap sau
                {% else %}
                    <a href="/story/{{story.0.id}}/chapter/{{chaptersau.0.id}}" class="btn-primary" style="text-decoration:none;">Chap sau</a>
                {% endif %}
            </button>
        </div>
        <hr />
        <h5 style="text-align: center;">{{chapter.0.name}}</h5>
        <prev>{{data|linebreaks}}</prev>
        <hr />
        <div class="container row justify-content-md-center">
            <button type="button" class="btn btn-primary" style="width:110px;">
                {% if chaptertruoc.0.id == null %}
                    Chap truoc
                {% else %}
                    <a href="/story/{{story.0.id}}/chapter/{{chaptertruoc.0.id}}" class="btn-primary" style="text-decoration:none;">Chap truoc</a>
                {% endif %}
            </button>
            <select class="form-select mx-2 border-primary" aria-label="Default select example" style="width:110px;" onchange="location = this.value;">
                {% for x in list_chapter %}
                    {% if x.id == chapter.0.id %}
                        <option value="{% url 'chapter' x.story_id x.id %}" selected>{{x.name}}</a></option>
                    {% else %}
                        <option value="{% url 'chapter' x.story_id x.id %}">{{x.name}}</a></option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary" style="width:110px;">
                {% if chaptersau.0.id == null %}
                    Chap sau
                {% else %}
                    <a href="/story/{{story.0.id}}/chapter/{{chaptersau.0.id}}" class="btn-primary" style="text-decoration:none;">Chap sau</a>
                {% endif %}
            </button>
        </div>
    </div>
</div>
{% endblock  %}
