{% extends "master.html" %}

{% block title %}
    {{story.0.name}}
{% endblock %}

{% block content %}
    {% load static %}
    <div class="card border-primary mb-3">
        <div class="card-body">
            <p><a href="/" style="color:black; text-decoration:none;">Trang chu</a> / <a href="/story/{{story.0.id}}" style="color:black; text-decoration:none;">{{story.0.name}}</a></p>
            <div class="row">
                <div class="col-3 card border-0">
                    <div class="card-bordy">
                        <img src="{% get_media_prefix %}{{story.0.image}}" width="192" height="250" class="card-img">
                    </div>
                </div>
                <div class="col-6 card border-0">
                    <h5>{{story.0.name}}</h5>
                    <p>Ten khac: {{story.0.alias}}</p>
                    <p>Tac gia: {{story.0.authors}}</p>
                    <p>The loai: <span>
                        {% for x in category %} {{x.name}} {% endfor%}
                    </p>
                </div>
            </div>
            <br />
            <h6>Noi dung</h6>
            <p>{{story.0.content}}</p>
            <hr />
            <h5>Danh sach chuong</h5>
            <div class="card border-primary mb-3">
                <div class="card-bordy">
                    {% for y in chapters reversed %}
                        <a href="/story/{{story.0.id}}/chapter/{{y.id}}">{{y.name}}</a>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}