<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <img
          src="https://classroomclipart.com/image/static7/preview2/one-open-book-with-plant-design-elements-55799.jpg"
          height="30"
          alt="Logo"
          loading="lazy"
        />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Danh sach</a>
          <ul class="dropdown-menu">
            {% for x in category %}
            <li><a class="dropdown-item" href="#">{{x.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">The loai</a>
          <ul class="dropdown-menu">
            {% for x in category %}
              <li><a class="dropdown-item" href="/category/{{x.id}}">{{x.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex input-group w-auto" method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="search" class="form-control" placeholder="Tim truyen" aria-label="Search" name="search_story"/>
        <button class="btn btn-outline-light" type="submit" data-ripple-color="dark">Search</button>
      </form>

      {% if user.is_authenticated %}
      <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle mx-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          {{user.username}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Lich su</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href={% url 'logout' %}>Log out</a></li>
          {% if user.is_staff %}
            <li><a class="dropdown-item" href="/admin/">Edit user</a></li>
          {% endif %}
        </ul>
      </div>
      {% else %}
      <a href="/login/" class="btn btn-primary mx-2">
        Dang nhap/Dang ky
      </a>
      {% endif %}

  </div>
</nav>

      <!-- Modal Form -->
      <div class="modal fade" id="DangNhap" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <!-- Login Form -->
              <form method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Dang nhap</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                      <label for="Username">Username<span class="text-danger">*</span></label>
                      <input type="text" name="username" class="form-control" placeholder="Enter Username">
                  </div>
      
                  <div class="mb-3">
                      <label for="Password">Password<span class="text-danger">*</span></label>
                      <input type="password" name="password" class="form-control" placeholder="Enter Password">
                  </div>
                </div>
                <div class="modal-footer pt-4">                  
                  <button type="submit" class="btn btn-primary mx-auto w-100">Login</button>
                </div>
                <p class="text-center">Not yet account, <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#DangKy">Signup</button></p> 
            </form>
          </div>
        </div>
      </div>

      
      <div class="modal fade" id="DangKy" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <form method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Dang ky</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <script> let error = false;</script>
                  <div class="mb-3">
                      <label for="Username">Username<span class="text-danger">*</span></label>
                      <input type="text" name="username" class="form-control" id="Username" placeholder="Enter Username">
                      {% if form.username.errors %}
                        {{ form.username.errors }}
                        <script> error = true; </script>
                      {% endif %}
                  </div>
      
                  <div class="mb-3">
                      <label for="Password">Password<span class="text-danger">*</span></label>
                      <input type="password" name="password1" class="form-control" placeholder="Enter Password">
                      {% if form.password1.errors %}
                        {{ form.password1.errors }}
                        <script> 
                          error = true; 
                          let usernameError = "{{ form.password1.errors.0 }}";
                        </script>
                      {% endif %}
                      <div id="es"></div>
                  </div>

                  <div class="mb-3">
                    <label for="Password">Enter the password again<span class="text-danger">*</span></label>
                    <input type="password" name="password2" class="form-control" placeholder="Enter Password Again">
                    {% if form.password2.errors %}
                      <script> error = true; </script>
                    {% endif %}
                  </div>
                </div>
                <div class="modal-footer pt-4">  
                  <button type="button" class="btn btn-primary mx-auto w-100" id="submitButton">Sign up</button>
                  <script>
                      
                        document.getElementById('submitButton').addEventListener('click', function() {
                          if(!error) {
                            alert("success");
                            document.getElementById('DangKy').submit();
                          
                          } else {
                              alert("Dang ky ko thanh cong");
                              document.getElementById('es').innerHTML="{{ form.password1.errors.0 }}";
                          }
                        });
                    
                  </script>
                </div>
            </form>
          </div>
        </div>
      </div>

      