{% extends "app/master.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
{% load static %}
    {% if search_story %}
    <h1>Ket qua tim kiem</h1>
        <div class="card border-primary mb-3 overflow-hidden">
            <div class="card-body container">
        <div class="row row-cols-lg-5 g-2 g-lg-3">
            {% for x in story %}
            <div class="col">
                <a href="/story/{{x.id}}" style="color:black; text-decoration:none;">
                    <div style="background-image: url('{% get_media_prefix %}{{x.image}}');background-position: center; background-size: contain; background-repeat: no-repeat; width:190px; height:260px;"></div>
                    <h5 class="container">{{x.name}}</h5>
                </a>
            </div>
            {% endfor %}
          
        </div>
    </div>
</div>
    {% else %}
        <h1>Please enter a search query</h1>
    {% endif %}
{% endblock %}