{% extends "app/master.html" %}

{% block title %}
    {{story.0.name}}
{% endblock %}

{% block content %}
    {% load static %}
    <div class="card border-primary mb-3">
        <div class="card-body">
            <p><a href="/" style="color:black; text-decoration:none;">Trang chu</a> / <a href="/story/{{story.0.id}}" style="color:black; text-decoration:none;">{{story.0.name}}</a></p>
            <div class="row">
                <div class="col-3 card border-0">
                    <div class="card-bordy">
                        <img src="{% get_media_prefix %}{{story.0.image}}" width="192" height="250" class="card-img">
                    </div>
                </div>
                <div class="col-6 card border-0">
                    <h5>{{story.0.name}}</h5>
                    <p>Ten khac: {{story.0.alias}}</p>
                    <p>Tac gia: 
                        {% for x in authors %} 
                        <a href="/author/{{x.id}}"style="color:black; text-decoration:none;">{{x.name}} </a> 
                        {% endfor%}
                    </p>
                    <p>The loai: <span>
                        {% for x in category %} <a href="/category/{{x.id}}"style="color:black; text-decoration:none;">{{x.name}} </a> {% endfor%}
                    </p>
                    <a href="/story/{{story.0.id}}/chapter/{{chapters.0.id}}" class="btn btn-primary mx-auto d-md-flex">Doc tu dau</a>
                    {% if user.is_authenticated %}
                        {% if is_following %}
                            <form class="d-flex input-group w-auto" method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" name="unfollow"/>
                                <button class="btn btn-primary mx-2 mt-2" type="submit" data-ripple-color="dark">Hủy theo dõi</button>
                            </form>
                        {% else %}
                            <form class="d-flex input-group w-auto" method="POST" action="">
                                {% csrf_token %}
                                <input type="hidden" name="follow"/>
                                <button class="btn btn-primary mx-2 mt-2" type="submit" data-ripple-color="dark">Theo dõi</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if continue %}
                        <a href="/story/{{story.0.id}}/chapter/{{continue.0.chapter.id}}" class="btn btn-primary mx-auto d-md-flex">Doc tiep</a>
                    {% endif %}
                    {% with chapters|last as last %}
                        <a href="/story/{{story.0.id}}/chapter/{{last.id}}" class="btn btn-primary mx-auto d-md-flex">Doc moi nhat</a>
                    {% endwith %}
                </div>
            </div>
            <br />
            <h6>Noi dung</h6>
            <p>{{story.0.content}}</p>
            <hr />
            
            <div class="card border-primary mb-3">
                <div class="card-bordy">
                    <h5>Danh sach chuong</h5>
                    {% for y in chapters reversed %}
                        <div class="row container">
                            <a href="/story/{{story.0.id}}/chapter/{{y.id}}">{{y.name}}</a>
                        </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}